@import '../colors.scss';

.card{
    border-radius: 10px;
    display: flex;
    max-width: 41.625em;
    background-color: white;
    margin: 0 1rem;
    padding: 15px;
    border: 1px solid red;
}   